/* components/LocationDetails.module.css */

.locationDetails {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #bd1616;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
}

.formGroup input, .formGroup select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.addButton {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #005bb5;
}
